/* Custom Properties */
:root {
    /* colors */
    --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
    --raisin-black-1: hsl(0, 0%, 16%);
    --raisin-black-2: hsl(236, 17%, 17%);
    --raisin-black-3: hsl(280, 11%, 11%);
    --raisin-black-4: hsl(280, 8%, 15%);
    --english-violet: hsl(274, 21%, 23%);
    --eerie-black-1: hsl(277, 25%, 10%);
    --eerie-black-2: hsl(280, 7%, 8%);
    --roman-silver: hsl(220, 6%, 59%);
    --quick-silver: hsl(0, 1%, 65%);
    --light-gray-1: hsl(0, 0%, 80%);
    --light-gray-2: hsl(0, 2%, 82%);
    --marigold_75: hsla(42, 99%, 46%, 0.75);
    --xiketic_90: hsla(280, 37%, 8%, 0.9);
    --cultured-2: hsl(0, 0%, 97%);
    --marigold: hsl(42, 99%, 46%);
    --platinum: hsl(0, 0%, 89%);
    --dim-gray: hsl(0, 0%, 42%);
    --white_15: hsla(0, 0%, 100%, 0.15);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --xiketic: hsl(277, 25%, 10%);
    --silver: hsl(0, 0%, 78%);
    --white: hsl(0, 0%, 100%);
    --jet: hsl(236, 13%, 23%);

    /* typography */
    --ff-oxanium: 'Oxanium', cursive;
    --ff-poppins: 'Poppins', sans-serif;

    --fs-1: 7rem;
    --fs-2: 4.5rem;
    --fs-3: 3.6rem;
    --fs-4: 2.4rem;
    --fs-5: 2.2rem;
    --fs-6: 2rem;
    --fs-7: 1.6rem;
    --fs-8: 1.5rem;
    --fs-9: 1.4rem;
    --fs-10: 1.3rem;
    --fs-11: 1.2rem;

    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;

    /* spacing */
    --section-padding: 120px;

    /* gradient */
    --gradient: radial-gradient(circle, hsl(250, 7%, 17%), hsl(250, 11%, 11%));

    /* box shadow */
    --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
            inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
    --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
    --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
    --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);

    /* transitions */
    --transition: 0.25s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li { list-style: none; }

a {
    text-decoration: none;
    color: inherit;
}

a,
img,
span,
time,
input,
button,
ion-icon { display: block; }

img { height: auto; }

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input { width: 100%; }

button { cursor: pointer; }

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
    font-family: var(--ff-poppins);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--raisin-black-3);
    font-size: 1.6rem;
    line-height: 1.5;
}

:focus-visible { outline-offset: 4px; }

/* HEADER */
.header-top,
.navbar,
.search-btn,
.cart-btn,
.header-bottom::before,
.navbar-link::before {
    display: none;
}

.header {
    position: relative;
    min-height: 1px;
}

.header-bottom {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 100%;
    background-color: var(--raisin-black-2);
    padding-block: 10px;
    z-index: 4;
}

.header-bottom .active {
    position: fixed;
    top: -85px;
    animation: slideIn 0.5s var(--cubic-out) forwards;
}

@keyframes slideIn {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

.header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white);
    font-family: var(--ff-oxanium);
    font-size: 3rem;
    font-weight: var(--fw-800);
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-btn {
    color: var(--marigold);
    padding: 25px;
    box-shadow: var(--shadow-1);
    border-radius: 4px;;
}

.search-btn ion-icon { --ionicon-stroke-width: 80px; }

.nav-toggle-btn {
  color: var(--white);
  font-size: 30px;
  border: 1px solid var(--white);
  padding: 4px;
}

.nav-toggle-btn.active .menu,
.nav-toggle-btn .close { display: none; }

.nav-toggle-btn .menu,
.nav-toggle-btn.active .close { display: block; }

.navbar {
  background-color: var(--eerie-black-1);
  color: var(--white);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 350px;
  visibility: hidden;
  max-height: 0;
  transition: 0.25s var(--cubic-out);
  overflow: hidden;
}

.navbar.active {
  visibility: visible;
  max-height: 275px;
  transition-duration: 0.5s;
}

.navbar-item:not(:last-child) { border-block-end: 1px solid var(--white_15); }

.navbar-link {
  padding: 10px 25px;
  transition: var(--transition);
}

.navbar-link:is(:hover, :focus) { background-color: var(--white_10); }